<html>
    <h3>Ymple-ECommerce installation</h3>
    <br>
To start to use the framework you need to do the following step:

[1]: Run one instance mongoDb and create a database with name :  ymple
[2]: Go the http://localhost:1338/install

[DONE]: You can use the user admin@admin.com with password admin


[INFO]: Back end url is : http://localhost:1338/admin

</html>