<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- switch to bootstrap 3.3.7-->

    <link href="/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet">

    <link href="/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">

    <!-- include font awesome -->
    <link href="/styles/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <link href="/css/vendors-ymple.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <script src="/js/tether.js"></script>
    <script src="/js/dependencies/ymple.js"></script>

    <!-- other library js-->
    <script src="/lib/dropzone/dropzone.js"></script>
    <link href="/lib/dropzone/dropzone.css" rel="stylesheet">

    <!-- switch to bootstrap 3.3.7-->

    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link href="/css/bootstrap-toggle.min.css" rel="stylesheet">


    <link rel="stylesheet" href="/styles/dependencies/ymple.css">

    <script src="/js/bootstrap-toggle.min.js"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</head>
