<!DOCTYPE html>
<html lang="en">

<%- include head-back.ejs %>

<body style="    font-size: 12px;">

<div id="wrapper">
    <%- include menu.ejs %>
    <%- include main-content.ejs %>
</div>
<!-- /#wrapper -->

</body>
</html>
