<br>
<div class="container" style="margin-top: 10px;">
    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav" style="font-size: 18px">
            <li style="float:left;" class="navbar-form">  News letter &nbsp;</li>
            <li  style="float:left;">
                <form action="/subscription_newsletter" class="form-inline pull-xs-right navbar-form" role="">
                    <input class="form-control" type="text" name="email" placeholder="<%= __('Enter your email') %>">
                    <button class="btn btn-success-outline" type="submit"><%= __('Send') %></button>&nbsp;&nbsp;
                </form>
            </li>
        </ul>
    </nav>
</div>