
<%include ../../../front/templates.navbar.ejs%>



<div class="container">
    <br><br>
    <h3 style="text-align: center;"><a href="/admin"></a><i class="fa fa-check" aria-hidden="true"></i> &nbsp;Payment Paypal Confirmation done

    </h3>


</div>

<%- include ../../../commun/library.ejs %>
<%- include ../../../front/product/javascript.ejs %>