<div class="">
    <h4 style="color:forestgreen" style="text-align: center"><a href="/admin"></a>Confirmation to Delete the product</h4>
    <br>
    <div class="row" style="text-align: center">

        <h4>
            Do you confirm to delete this product
        </h4>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6" style="text-align: center;align-content: center">
            <a href="/admin/product/delete/confirmation/<%= idProduct %>" class="btn  btn-success" button-action="delete">Yes</a>
        </div>

        <div class="col-sm-6" style="text-align: center;align-content: center">
            <a href="/admin/product/list" class="btn  btn-danger" button-action="delete">No</a>

        </div>

    </div>

</div>

