<form action="/product/save_image/<%= idProduct %>" id="my-dropzone" class="dropzone" method="post" enctype="multipart/form-data">

</form>
<script>
    // myDropzone is the configuration for the element that has an id attribute
    // with the value my-dropzone (or myDropzone)
    Dropzone.options.myDropzone = {
        init: function () {
            this.on("addedfile", function (file) {

                console.log('file added');

                /*fs.readFile(request.files.file.path, function(err, data) {

                 var newPath = __dirname + "/public/img/xspectra/customlogo.png";
                 fs.writeFile(newPath, data, function (err) {
                 console.log("Finished writing file..." + err);
                 response.redirect("back");
                 });

                 });*/

                // Create the remove button
                var removeButton = Dropzone.createElement("<button>Remove file</button>");
                // Capture the Dropzone instance as closure.
                var _this = this;

                // Listen to the click event
                removeButton.addEventListener("click", function (e) {
                    // Make sure the button click doesn't submit the form:
                    e.preventDefault();
                    e.stopPropagation();

                    // Remove the file preview.
                    _this.removeFile(file);
                    // If you want to the delete the file on the server as well,
                    // you can do the AJAX request here.
                });
                // Add the button to the file preview element.
                file.previewElement.appendChild(removeButton);
            });
        },
        paramName: "file", // The name that will be used to transfer the file
        maxFilesize: 10, // MB
        uploadMultiple: false,
        addRemoveLinks: true,
        parallelUploads: true,
        dictDefaultMessage: 'Drag files here <br />or<br /><button class="dzUploadBtn" type="button">click here to upload</button>',
        //acceptedMimeTypes: '.jpg'
    };
</script>